.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: fit-content;

  input {
    width: 340px;
    border-radius: 4px;
    padding: 0.8rem;
    background-color: #251F2B;
    border: none;
  }

  span {
    color: red;
    font-size: 14px;
    text-align: end;
  }
}
